{
  "presets": [
    ["@babel/env", { "modules": false, "useBuiltIns": "usage" } ],
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/proposal-class-properties",
    ["@babel/transform-runtime", { "helpers": false, "polyfill": false, "regenerator": true }]
  ]
}
