@import '~biplane-uikit/lib/colors.css';
@import '~biplane-uikit/lib/variables.css';

.suggest-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggest-modal__header {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
}

.suggest-modal__input {
  padding: 6px;
  width: 100%;
  outline: none;
  margin-bottom: 40px;
  border: 1px solid var(--gray-border);
  border-radius: 3px;

  transition: var(--transition-border);
}

.suggest-modal__input:focus {
  border-color: var(--green-primary);
}

.suggest-modal__input:hover {
  border-color: var(--green-primary);
}

.suggest-modal__footer {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
}

.suggest-modal__error {
  color: #ff3333;
  font-weight: bold;
}

.suggest-modal__error {
  color: var(--green-primary);
  font-weight: bold;
}
