.channel-filters {
  flex-shrink: 0;
  top: 0;
  display: flex;
  padding: 30px 0;
  background-color: #fff;
  justify-content: space-between;

  &__title {
    font-size: 16px;
  }

  &__checkboxes {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > label + label {
      margin-left: 20px;
    }
  }

  &__table-header {
    display: flex;
    flex-shrink: 0;
  }

  &__order-name {
    margin-left: 140px;
    padding-left: 16px;
    width: 60%;
  }

  &__order-numbers {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}