@import '~biplane-uikit/lib/colors.css';

.sticker-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 300px;
  padding: 13px 26px;
  border: solid 2px var(--gray-shadow);
  border-radius: 2px;
}

.sticker-card__image-container {
  width: 200px;
  height: 300px;
  margin-bottom: 18px;
  overflow: hidden;
}

.sticker-card__image-container > img {
  height: 100%;
}

.sticker-card__title {
  font-size: 20px;
  font-weight: bold;
}

.sticker-card__creator {
  font-size: 14px;
}

