@import '~biplane-uikit/lib/colors.css';

.input-range-container {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 25px;

  &__label {
    font-size: 16px;
  }
}

.rc-slider {
  display: flex;
  align-items: center;
  justify-content: stretch;
  position: relative;
  height: 30px;

  &-rail {
    height: 2px;
    width: 100%;
    background-color: var(--gray-border);
  }

  &-track {
    position: absolute;
    height: 2px;
    background-color: var(--green-primary);
  }

  &-handle {
    position: relative;
    top: -12px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: rgba(21, 173, 86, 0.2);
    margin-left: -8px;
    border: 1px solid var(--green-primary);
    outline: none;
    cursor: pointer;

    &::after {
      position: absolute;
      top: 6px;
      right: 6px;
      content: ' ';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: var(--green-primary);
    }

    &-value {
      position: relative;
      bottom: -30px;
      left: -50%;
      background-color: #fff;
      user-select: none;
    }

    &-container {
      position: absolute;
      display: flex;
      flex-direction: column;
    }
  }
}

