@import 'biplane-uikit/lib/variables.css';

.channel-page__container {
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.channel-page {
  display: flex;
  flex-direction: column;
}

.channel-page__channel-section {
  display: flex;
}

.channel-page__channel-info {
  display: flex;
}

.channel-page__channel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 64px;
}

.channel-page__channel-icon-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.channel-page__channel-icon-container > img {
  width: 100%;
  height: auto;
}

.channel-page__channel-card-description {
  margin-top: 8px;
  text-align: center;
}

.channel-page__channel-text-info {
  display: flex;
  flex-direction: column;
}

.channel-page__title {
  overflow: hidden;
  line-height: 89px;
  max-height: 89px;
  max-width: 647px;
  margin-bottom: 24px;
  white-space: nowrap;
  font-size: 59px;
  font-weight: bold;
  text-overflow: ellipsis;
}

.channel-page__title_verified::after {
  display: inline-block;
  content: ' ';
  width: 25px;
  height: 16px;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
  transform: rotate(-45deg);
  margin-left: 16px;
  margin-bottom: 15px;
  border-radius: 2px;
}

.channel-page__channel-extended-info {
  display: flex;
}

.channel-page__numbers {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.channel-page__single-number-label {
  font-size: 16px;
}

.channel-page__single-number-value {
  margin-bottom: 16px;
  font-size: 25px;
  font-weight: bold;
}

.channel-page__description-language-container {
  display: flex;
  flex-direction: column;
}

.channel-page__language-category {
  margin-bottom: 16px;
  font-size: 20px;
}

.channel-page__language-category > span {
  margin-right: 24px;
}

.channel-page__description {
  font-size: 18px;
  max-width: 535px;
}

.channel-page__related-channels-container {
  margin-top: 108px;
  display: flex;
  flex-direction: column;
}

.channel-page__section-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
}

.channel-page__related-channels-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}


/*mock divs, delete when real cards are implemented*/
.channel-page__related-channels-cards > div {
  width: 30%;
  height: 104px;
  background-color: #ededed;
  box-shadow: var(--shadow-medium);
}

.channel-page__latest-posts-container {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  margin-top: 112px;
  padding-left: 32px;
  margin-left: 32px;
  border-left: 1px solid var(--gray-border);
}

.channel-page__latest-posts-title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
}

/*mock divs, delete when real cards are implemented*/
.channel-page__latest-posts-cards > div {
  width: 360px;
  min-height: 70px;
  background-color: #ededed;
  box-shadow: var(--shadow-medium);
}

.channel-page__latest-posts-cards > div + div {
  margin-top: 10px;
}
