.search-overlay {
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  min-width: 1265px;
  height: calc(calc(var(--vh, 1vh) * 100) - 70px);
  animation: rollDown 300ms linear;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 4;
  transition: 300ms linear height;
}

.search-overlay.search-overlay_closing {
  height: 0;
}

@keyframes rollDown {
  from { height: 0; }
  to { height: 100vh; }
}
