@mixin df($flex-flow: row nowrap, $align-items: flex-start, $justify-content: flex-start) {
    display: flex;
    flex-flow: $flex-flow;
    align-items: $align-items;
    justify-content: $justify-content;
}