.input-range__track--background {
  height: 2px;
  background-color: #bababa;
}

.input-range__track--active {
  height: 2px;
  background-color: #15ad56;
}

.input-range__slider {
  width: 20px;
  height: 20px;
  background-color: rgba(21, 173, 86, 0.2);
  border: solid 1px #0e9548;
  border-radius: 50%;
  position: relative;
  transition: 0.3s all linear;
}

.input-range__slider:hover {
  background-color: rgba(21, 173, 86, 0.3);
}

.input-range__slider::after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #15ad56;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input-range__label--value {
  top: auto;
  bottom: -1.8rem;
  color: black;
}

.input-range__label--min,
.input-range__label--max {
  display: none;
}
